=begin
#Bugmark API

#all calls require BASIC AUTH

OpenAPI spec version: 0.0.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0

=end

require "uri"

module BmxApiRuby
  class ContractApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # List all contracts
    # List all contracts
    # @param [Hash] opts the optional parameters
    # @return [Array<ContractIds>]
    def get_contract(opts = {})
      data, _status_code, _headers = get_contract_with_http_info(opts)
      return data
    end

    # List all contracts
    # List all contracts
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ContractIds>, Fixnum, Hash)>] Array<ContractIds> data, response status code and response headers
    def get_contract_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.get_contract ..."
      end
      # resource path
      local_var_path = "/contract"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ContractIds>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#get_contract\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show contract detail
    # Show contract detail
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [ContractDetail]
    def get_contract_uuid(uuid, opts = {})
      data, _status_code, _headers = get_contract_uuid_with_http_info(uuid, opts)
      return data
    end

    # Show contract detail
    # Show contract detail
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractDetail, Fixnum, Hash)>] ContractDetail data, response status code and response headers
    def get_contract_uuid_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.get_contract_uuid ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ContractApi.get_contract_uuid"
      end
      # resource path
      local_var_path = "/contract/{uuid}".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContractDetail')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#get_contract_uuid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show contract amendments
    # Show contract amendments
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<AmendmentDetail>]
    def get_contract_uuid_amendments(uuid, opts = {})
      data, _status_code, _headers = get_contract_uuid_amendments_with_http_info(uuid, opts)
      return data
    end

    # Show contract amendments
    # Show contract amendments
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AmendmentDetail>, Fixnum, Hash)>] Array<AmendmentDetail> data, response status code and response headers
    def get_contract_uuid_amendments_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.get_contract_uuid_amendments ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ContractApi.get_contract_uuid_amendments"
      end
      # resource path
      local_var_path = "/contract/{uuid}/amendments".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<AmendmentDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#get_contract_uuid_amendments\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show contract escrows
    # Show contract escrows
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<EscrowDetail>]
    def get_contract_uuid_escrows(uuid, opts = {})
      data, _status_code, _headers = get_contract_uuid_escrows_with_http_info(uuid, opts)
      return data
    end

    # Show contract escrows
    # Show contract escrows
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<EscrowDetail>, Fixnum, Hash)>] Array<EscrowDetail> data, response status code and response headers
    def get_contract_uuid_escrows_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.get_contract_uuid_escrows ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ContractApi.get_contract_uuid_escrows"
      end
      # resource path
      local_var_path = "/contract/{uuid}/escrows".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<EscrowDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#get_contract_uuid_escrows\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show contract open_offers
    # Show contract open_offers
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<OfferDetail>]
    def get_contract_uuid_open_offers(uuid, opts = {})
      data, _status_code, _headers = get_contract_uuid_open_offers_with_http_info(uuid, opts)
      return data
    end

    # Show contract open_offers
    # Show contract open_offers
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<OfferDetail>, Fixnum, Hash)>] Array<OfferDetail> data, response status code and response headers
    def get_contract_uuid_open_offers_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.get_contract_uuid_open_offers ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ContractApi.get_contract_uuid_open_offers"
      end
      # resource path
      local_var_path = "/contract/{uuid}/open_offers".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<OfferDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#get_contract_uuid_open_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show contract positions
    # Show contract positions
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<PositionDetail>]
    def get_contract_uuid_positions(uuid, opts = {})
      data, _status_code, _headers = get_contract_uuid_positions_with_http_info(uuid, opts)
      return data
    end

    # Show contract positions
    # Show contract positions
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PositionDetail>, Fixnum, Hash)>] Array<PositionDetail> data, response status code and response headers
    def get_contract_uuid_positions_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.get_contract_uuid_positions ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ContractApi.get_contract_uuid_positions"
      end
      # resource path
      local_var_path = "/contract/{uuid}/positions".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<PositionDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#get_contract_uuid_positions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel contract
    # Cancel contract
    # @param contract_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ContractStatus]
    def post_contract_contract_uuid_cancel(contract_uuid, opts = {})
      data, _status_code, _headers = post_contract_contract_uuid_cancel_with_http_info(contract_uuid, opts)
      return data
    end

    # Cancel contract
    # Cancel contract
    # @param contract_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractStatus, Fixnum, Hash)>] ContractStatus data, response status code and response headers
    def post_contract_contract_uuid_cancel_with_http_info(contract_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.post_contract_contract_uuid_cancel ..."
      end
      # verify the required parameter 'contract_uuid' is set
      if @api_client.config.client_side_validation && contract_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'contract_uuid' when calling ContractApi.post_contract_contract_uuid_cancel"
      end
      # resource path
      local_var_path = "/contract/{contract_uuid}/cancel".sub('{' + 'contract_uuid' + '}', contract_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContractStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#post_contract_contract_uuid_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Clone contract
    # Clone contract
    # @param contract_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :issue issue UUID
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :title title
    # @option opts [String] :status status
    # @option opts [String] :labels labels
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @return [ContractStatus]
    def post_contract_contract_uuid_clone(contract_uuid, opts = {})
      data, _status_code, _headers = post_contract_contract_uuid_clone_with_http_info(contract_uuid, opts)
      return data
    end

    # Clone contract
    # Clone contract
    # @param contract_uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :issue issue UUID
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :title title
    # @option opts [String] :status status
    # @option opts [String] :labels labels
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @return [Array<(ContractStatus, Fixnum, Hash)>] ContractStatus data, response status code and response headers
    def post_contract_contract_uuid_clone_with_http_info(contract_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.post_contract_contract_uuid_clone ..."
      end
      # verify the required parameter 'contract_uuid' is set
      if @api_client.config.client_side_validation && contract_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'contract_uuid' when calling ContractApi.post_contract_contract_uuid_clone"
      end
      # resource path
      local_var_path = "/contract/{contract_uuid}/clone".sub('{' + 'contract_uuid' + '}', contract_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params["issue"] = opts[:'issue'] if !opts[:'issue'].nil?
      form_params["tracker"] = opts[:'tracker'] if !opts[:'tracker'].nil?
      form_params["title"] = opts[:'title'] if !opts[:'title'].nil?
      form_params["status"] = opts[:'status'] if !opts[:'status'].nil?
      form_params["labels"] = opts[:'labels'] if !opts[:'labels'].nil?
      form_params["maturation"] = opts[:'maturation'] if !opts[:'maturation'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContractStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#post_contract_contract_uuid_clone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create contract
    # Create contract
    # @param [Hash] opts the optional parameters
    # @option opts [String] :issue issue UUID
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :title title
    # @option opts [String] :status status
    # @option opts [String] :labels labels
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @return [ContractStatus]
    def post_contract_create(opts = {})
      data, _status_code, _headers = post_contract_create_with_http_info(opts)
      return data
    end

    # Create contract
    # Create contract
    # @param [Hash] opts the optional parameters
    # @option opts [String] :issue issue UUID
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :title title
    # @option opts [String] :status status
    # @option opts [String] :labels labels
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @return [Array<(ContractStatus, Fixnum, Hash)>] ContractStatus data, response status code and response headers
    def post_contract_create_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.post_contract_create ..."
      end
      # resource path
      local_var_path = "/contract/create"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params["issue"] = opts[:'issue'] if !opts[:'issue'].nil?
      form_params["tracker"] = opts[:'tracker'] if !opts[:'tracker'].nil?
      form_params["title"] = opts[:'title'] if !opts[:'title'].nil?
      form_params["status"] = opts[:'status'] if !opts[:'status'].nil?
      form_params["labels"] = opts[:'labels'] if !opts[:'labels'].nil?
      form_params["maturation"] = opts[:'maturation'] if !opts[:'maturation'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContractStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#post_contract_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cross offer
    # Cross offer
    # @param commit_type expand, transfer or reduce
    # @param offer_uuid 
    # @param [Hash] opts the optional parameters
    # @return [ContractStatus]
    def post_contract_offer_uuid_cross(commit_type, offer_uuid, opts = {})
      data, _status_code, _headers = post_contract_offer_uuid_cross_with_http_info(commit_type, offer_uuid, opts)
      return data
    end

    # Cross offer
    # Cross offer
    # @param commit_type expand, transfer or reduce
    # @param offer_uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractStatus, Fixnum, Hash)>] ContractStatus data, response status code and response headers
    def post_contract_offer_uuid_cross_with_http_info(commit_type, offer_uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.post_contract_offer_uuid_cross ..."
      end
      # verify the required parameter 'commit_type' is set
      if @api_client.config.client_side_validation && commit_type.nil?
        fail ArgumentError, "Missing the required parameter 'commit_type' when calling ContractApi.post_contract_offer_uuid_cross"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['expand', 'transfer', 'reduce'].include?(commit_type)
        fail ArgumentError, "invalid value for 'commit_type', must be one of expand, transfer, reduce"
      end
      # verify the required parameter 'offer_uuid' is set
      if @api_client.config.client_side_validation && offer_uuid.nil?
        fail ArgumentError, "Missing the required parameter 'offer_uuid' when calling ContractApi.post_contract_offer_uuid_cross"
      end
      # resource path
      local_var_path = "/contract/{offer_uuid}/cross".sub('{' + 'offer_uuid' + '}', offer_uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params["commit_type"] = commit_type

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContractStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#post_contract_offer_uuid_cross\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resolve contract
    # Resolve contract
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [ContractStatus]
    def put_contract_uuid_resolve(uuid, opts = {})
      data, _status_code, _headers = put_contract_uuid_resolve_with_http_info(uuid, opts)
      return data
    end

    # Resolve contract
    # Resolve contract
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ContractStatus, Fixnum, Hash)>] ContractStatus data, response status code and response headers
    def put_contract_uuid_resolve_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ContractApi.put_contract_uuid_resolve ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling ContractApi.put_contract_uuid_resolve"
      end
      # resource path
      local_var_path = "/contract/{uuid}/resolve".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ContractStatus')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ContractApi#put_contract_uuid_resolve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
