=begin
#Bugmark API

#all calls require BASIC AUTH

OpenAPI spec version: 0.0.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0

=end

require "uri"

module BmxApiRuby
  class IssuesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # List all issue ids
    # List all issue ids
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit count limit
    # @return [Array<IssueIds>]
    def get_issues(opts = {})
      data, _status_code, _headers = get_issues_with_http_info(opts)
      return data
    end

    # List all issue ids
    # List all issue ids
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit count limit
    # @return [Array<(Array<IssueIds>, Fixnum, Hash)>] Array<IssueIds> data, response status code and response headers
    def get_issues_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IssuesApi.get_issues ..."
      end
      # resource path
      local_var_path = "/issues"

      # query parameters
      query_params = {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<IssueIds>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IssuesApi#get_issues\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all issues details
    # List all issues details
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit count limit
    # @return [Array<IssueDetail>]
    def get_issues_detail(opts = {})
      data, _status_code, _headers = get_issues_detail_with_http_info(opts)
      return data
    end

    # List all issues details
    # List all issues details
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit count limit
    # @return [Array<(Array<IssueDetail>, Fixnum, Hash)>] Array<IssueDetail> data, response status code and response headers
    def get_issues_detail_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IssuesApi.get_issues_detail ..."
      end
      # resource path
      local_var_path = "/issues/detail"

      # query parameters
      query_params = {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<IssueDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IssuesApi#get_issues_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show detail for one issue
    # Show detail for one issue
    # @param issue_exid issue exid
    # @param [Hash] opts the optional parameters
    # @return [IssueDetail]
    def get_issues_issue_exid(issue_exid, opts = {})
      data, _status_code, _headers = get_issues_issue_exid_with_http_info(issue_exid, opts)
      return data
    end

    # Show detail for one issue
    # Show detail for one issue
    # @param issue_exid issue exid
    # @param [Hash] opts the optional parameters
    # @return [Array<(IssueDetail, Fixnum, Hash)>] IssueDetail data, response status code and response headers
    def get_issues_issue_exid_with_http_info(issue_exid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IssuesApi.get_issues_issue_exid ..."
      end
      # verify the required parameter 'issue_exid' is set
      if @api_client.config.client_side_validation && issue_exid.nil?
        fail ArgumentError, "Missing the required parameter 'issue_exid' when calling IssuesApi.get_issues_issue_exid"
      end
      # resource path
      local_var_path = "/issues/{issue_exid}".sub('{' + 'issue_exid' + '}', issue_exid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IssueDetail')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IssuesApi#get_issues_issue_exid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show issue contracts
    # Show issue contracts
    # @param issue_exid issue exid
    # @param [Hash] opts the optional parameters
    # @return [Array<ContractDetail>]
    def get_issues_issue_exid_contracts(issue_exid, opts = {})
      data, _status_code, _headers = get_issues_issue_exid_contracts_with_http_info(issue_exid, opts)
      return data
    end

    # Show issue contracts
    # Show issue contracts
    # @param issue_exid issue exid
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ContractDetail>, Fixnum, Hash)>] Array<ContractDetail> data, response status code and response headers
    def get_issues_issue_exid_contracts_with_http_info(issue_exid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IssuesApi.get_issues_issue_exid_contracts ..."
      end
      # verify the required parameter 'issue_exid' is set
      if @api_client.config.client_side_validation && issue_exid.nil?
        fail ArgumentError, "Missing the required parameter 'issue_exid' when calling IssuesApi.get_issues_issue_exid_contracts"
      end
      # resource path
      local_var_path = "/issues/{issue_exid}/contracts".sub('{' + 'issue_exid' + '}', issue_exid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ContractDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IssuesApi#get_issues_issue_exid_contracts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show issue offers
    # Show issue offers
    # @param issue_exid issue exid
    # @param [Hash] opts the optional parameters
    # @return [Array<OfferDetail>]
    def get_issues_issue_exid_offers(issue_exid, opts = {})
      data, _status_code, _headers = get_issues_issue_exid_offers_with_http_info(issue_exid, opts)
      return data
    end

    # Show issue offers
    # Show issue offers
    # @param issue_exid issue exid
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<OfferDetail>, Fixnum, Hash)>] Array<OfferDetail> data, response status code and response headers
    def get_issues_issue_exid_offers_with_http_info(issue_exid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IssuesApi.get_issues_issue_exid_offers ..."
      end
      # verify the required parameter 'issue_exid' is set
      if @api_client.config.client_side_validation && issue_exid.nil?
        fail ArgumentError, "Missing the required parameter 'issue_exid' when calling IssuesApi.get_issues_issue_exid_offers"
      end
      # resource path
      local_var_path = "/issues/{issue_exid}/offers".sub('{' + 'issue_exid' + '}', issue_exid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<OfferDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IssuesApi#get_issues_issue_exid_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Sync
    # Sync
    # @param exid issue exid
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tracker_uuid tracker uuid
    # @option opts [String] :issue_uuid issue uuid
    # @option opts [String] :title issue title
    # @option opts [String] :status issue status
    # @option opts [String] :labels TBD
    # @option opts [String] :xfields TBD
    # @option opts [String] :jfields TBD
    # @return [IssueDetail]
    def post_issues_exid(exid, opts = {})
      data, _status_code, _headers = post_issues_exid_with_http_info(exid, opts)
      return data
    end

    # Sync
    # Sync
    # @param exid issue exid
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tracker_uuid tracker uuid
    # @option opts [String] :issue_uuid issue uuid
    # @option opts [String] :title issue title
    # @option opts [String] :status issue status
    # @option opts [String] :labels TBD
    # @option opts [String] :xfields TBD
    # @option opts [String] :jfields TBD
    # @return [Array<(IssueDetail, Fixnum, Hash)>] IssueDetail data, response status code and response headers
    def post_issues_exid_with_http_info(exid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: IssuesApi.post_issues_exid ..."
      end
      # verify the required parameter 'exid' is set
      if @api_client.config.client_side_validation && exid.nil?
        fail ArgumentError, "Missing the required parameter 'exid' when calling IssuesApi.post_issues_exid"
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['open', 'closed'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of open, closed'
      end
      # resource path
      local_var_path = "/issues/{exid}".sub('{' + 'exid' + '}', exid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params["tracker_uuid"] = opts[:'tracker_uuid'] if !opts[:'tracker_uuid'].nil?
      form_params["issue_uuid"] = opts[:'issue_uuid'] if !opts[:'issue_uuid'].nil?
      form_params["title"] = opts[:'title'] if !opts[:'title'].nil?
      form_params["status"] = opts[:'status'] if !opts[:'status'].nil?
      form_params["labels"] = opts[:'labels'] if !opts[:'labels'].nil?
      form_params["xfields"] = opts[:'xfields'] if !opts[:'xfields'].nil?
      form_params["jfields"] = opts[:'jfields'] if !opts[:'jfields'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'IssueDetail')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IssuesApi#post_issues_exid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
