=begin
#Bugmark API

#all calls require BASIC AUTH

OpenAPI spec version: 0.0.1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.3.0

=end

require "uri"

module BmxApiRuby
  class OffersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # List all offer ids
    # List all offer ids
    # @param [Hash] opts the optional parameters
    # @option opts [String] :with_type type filter
    # @option opts [String] :with_status status filter
    # @option opts [Integer] :limit limit
    # @return [Array<OfferIds>]
    def get_offers(opts = {})
      data, _status_code, _headers = get_offers_with_http_info(opts)
      return data
    end

    # List all offer ids
    # List all offer ids
    # @param [Hash] opts the optional parameters
    # @option opts [String] :with_type type filter
    # @option opts [String] :with_status status filter
    # @option opts [Integer] :limit limit
    # @return [Array<(Array<OfferIds>, Fixnum, Hash)>] Array<OfferIds> data, response status code and response headers
    def get_offers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OffersApi.get_offers ..."
      end
      # resource path
      local_var_path = "/offers"

      # query parameters
      query_params = {}
      query_params[:'with_type'] = opts[:'with_type'] if !opts[:'with_type'].nil?
      query_params[:'with_status'] = opts[:'with_status'] if !opts[:'with_status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<OfferIds>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#get_offers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all offer details
    # List all offer details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :with_type type filter
    # @option opts [String] :with_status status filter
    # @option opts [Integer] :limit limit
    # @return [Array<OfferDetail>]
    def get_offers_detail(opts = {})
      data, _status_code, _headers = get_offers_detail_with_http_info(opts)
      return data
    end

    # List all offer details
    # List all offer details
    # @param [Hash] opts the optional parameters
    # @option opts [String] :with_type type filter
    # @option opts [String] :with_status status filter
    # @option opts [Integer] :limit limit
    # @return [Array<(Array<OfferDetail>, Fixnum, Hash)>] Array<OfferDetail> data, response status code and response headers
    def get_offers_detail_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OffersApi.get_offers_detail ..."
      end
      # resource path
      local_var_path = "/offers/detail"

      # query parameters
      query_params = {}
      query_params[:'with_type'] = opts[:'with_type'] if !opts[:'with_type'].nil?
      query_params[:'with_status'] = opts[:'with_status'] if !opts[:'with_status'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<OfferDetail>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#get_offers_detail\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Show details for one offer
    # Show details for one offer
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [OfferDetail]
    def get_offers_uuid(uuid, opts = {})
      data, _status_code, _headers = get_offers_uuid_with_http_info(uuid, opts)
      return data
    end

    # Show details for one offer
    # Show details for one offer
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OfferDetail, Fixnum, Hash)>] OfferDetail data, response status code and response headers
    def get_offers_uuid_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OffersApi.get_offers_uuid ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OffersApi.get_offers_uuid"
      end
      # resource path
      local_var_path = "/offers/{uuid}".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OfferDetail')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#get_offers_uuid\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a buy offer
    # Create a buy offer
    # @param side fixed or unfixed
    # @param volume number of positions
    # @param price between 0.0 and 1.0
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :issue issue UUID
    # @option opts [String] :title issue title
    # @option opts [String] :labels issue labels
    # @option opts [String] :status issue status
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @option opts [String] :expiration YYMMDD_HHMM (default now + 1.day)
    # @option opts [String] :maturation_offset offset string (see long description)
    # @option opts [String] :expiration_offset offset string (see long description)
    # @option opts [BOOLEAN] :poolable poolable? (default false)
    # @option opts [BOOLEAN] :aon all-or-none? (default false)
    # @return [OfferCreated]
    def post_offers_buy(side, volume, price, opts = {})
      data, _status_code, _headers = post_offers_buy_with_http_info(side, volume, price, opts)
      return data
    end

    # Create a buy offer
    # Create a buy offer
    # @param side fixed or unfixed
    # @param volume number of positions
    # @param price between 0.0 and 1.0
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :issue issue UUID
    # @option opts [String] :title issue title
    # @option opts [String] :labels issue labels
    # @option opts [String] :status issue status
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @option opts [String] :expiration YYMMDD_HHMM (default now + 1.day)
    # @option opts [String] :maturation_offset offset string (see long description)
    # @option opts [String] :expiration_offset offset string (see long description)
    # @option opts [BOOLEAN] :poolable poolable? (default false)
    # @option opts [BOOLEAN] :aon all-or-none? (default false)
    # @return [Array<(OfferCreated, Fixnum, Hash)>] OfferCreated data, response status code and response headers
    def post_offers_buy_with_http_info(side, volume, price, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OffersApi.post_offers_buy ..."
      end
      # verify the required parameter 'side' is set
      if @api_client.config.client_side_validation && side.nil?
        fail ArgumentError, "Missing the required parameter 'side' when calling OffersApi.post_offers_buy"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['fixed', 'unfixed'].include?(side)
        fail ArgumentError, "invalid value for 'side', must be one of fixed, unfixed"
      end
      # verify the required parameter 'volume' is set
      if @api_client.config.client_side_validation && volume.nil?
        fail ArgumentError, "Missing the required parameter 'volume' when calling OffersApi.post_offers_buy"
      end
      # verify the required parameter 'price' is set
      if @api_client.config.client_side_validation && price.nil?
        fail ArgumentError, "Missing the required parameter 'price' when calling OffersApi.post_offers_buy"
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['open', 'closed'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of open, closed'
      end
      # resource path
      local_var_path = "/offers/buy"

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params["side"] = side
      form_params["volume"] = volume
      form_params["price"] = price
      form_params["tracker"] = opts[:'tracker'] if !opts[:'tracker'].nil?
      form_params["issue"] = opts[:'issue'] if !opts[:'issue'].nil?
      form_params["title"] = opts[:'title'] if !opts[:'title'].nil?
      form_params["labels"] = opts[:'labels'] if !opts[:'labels'].nil?
      form_params["status"] = opts[:'status'] if !opts[:'status'].nil?
      form_params["maturation"] = opts[:'maturation'] if !opts[:'maturation'].nil?
      form_params["expiration"] = opts[:'expiration'] if !opts[:'expiration'].nil?
      form_params["maturation_offset"] = opts[:'maturation_offset'] if !opts[:'maturation_offset'].nil?
      form_params["expiration_offset"] = opts[:'expiration_offset'] if !opts[:'expiration_offset'].nil?
      form_params["poolable"] = opts[:'poolable'] if !opts[:'poolable'].nil?
      form_params["aon"] = opts[:'aon'] if !opts[:'aon'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OfferCreated')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#post_offers_buy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a clone
    # Create a clone
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :volume number of positions
    # @option opts [Float] :price between 0.0 and 1.0
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :issue issue UUID
    # @option opts [String] :title issue title
    # @option opts [String] :labels issue labels
    # @option opts [String] :status issue status
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @option opts [String] :expiration YYMMDD_HHMM (default now + 1.day)
    # @option opts [String] :maturation_offset offset string (see long description)
    # @option opts [String] :expiration_offset offset string (see long description)
    # @option opts [BOOLEAN] :poolable poolable? (default false)
    # @option opts [BOOLEAN] :aon all-or-none? (default false)
    # @return [OfferCreated]
    def post_offers_uuid_clone(uuid, opts = {})
      data, _status_code, _headers = post_offers_uuid_clone_with_http_info(uuid, opts)
      return data
    end

    # Create a clone
    # Create a clone
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :volume number of positions
    # @option opts [Float] :price between 0.0 and 1.0
    # @option opts [String] :tracker tracker UUID
    # @option opts [String] :issue issue UUID
    # @option opts [String] :title issue title
    # @option opts [String] :labels issue labels
    # @option opts [String] :status issue status
    # @option opts [String] :maturation YYMMDD_HHMM (default now + 1.week)
    # @option opts [String] :expiration YYMMDD_HHMM (default now + 1.day)
    # @option opts [String] :maturation_offset offset string (see long description)
    # @option opts [String] :expiration_offset offset string (see long description)
    # @option opts [BOOLEAN] :poolable poolable? (default false)
    # @option opts [BOOLEAN] :aon all-or-none? (default false)
    # @return [Array<(OfferCreated, Fixnum, Hash)>] OfferCreated data, response status code and response headers
    def post_offers_uuid_clone_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OffersApi.post_offers_uuid_clone ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OffersApi.post_offers_uuid_clone"
      end
      if @api_client.config.client_side_validation && opts[:'status'] && !['open', 'closed'].include?(opts[:'status'])
        fail ArgumentError, 'invalid value for "status", must be one of open, closed'
      end
      # resource path
      local_var_path = "/offers/{uuid}/clone".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}
      form_params["volume"] = opts[:'volume'] if !opts[:'volume'].nil?
      form_params["price"] = opts[:'price'] if !opts[:'price'].nil?
      form_params["tracker"] = opts[:'tracker'] if !opts[:'tracker'].nil?
      form_params["issue"] = opts[:'issue'] if !opts[:'issue'].nil?
      form_params["title"] = opts[:'title'] if !opts[:'title'].nil?
      form_params["labels"] = opts[:'labels'] if !opts[:'labels'].nil?
      form_params["status"] = opts[:'status'] if !opts[:'status'].nil?
      form_params["maturation"] = opts[:'maturation'] if !opts[:'maturation'].nil?
      form_params["expiration"] = opts[:'expiration'] if !opts[:'expiration'].nil?
      form_params["maturation_offset"] = opts[:'maturation_offset'] if !opts[:'maturation_offset'].nil?
      form_params["expiration_offset"] = opts[:'expiration_offset'] if !opts[:'expiration_offset'].nil?
      form_params["poolable"] = opts[:'poolable'] if !opts[:'poolable'].nil?
      form_params["aon"] = opts[:'aon'] if !opts[:'aon'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OfferCreated')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#post_offers_uuid_clone\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create a counter-offer
    # Create a counter-offer
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [OfferCreated]
    def post_offers_uuid_counter(uuid, opts = {})
      data, _status_code, _headers = post_offers_uuid_counter_with_http_info(uuid, opts)
      return data
    end

    # Create a counter-offer
    # Create a counter-offer
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OfferCreated, Fixnum, Hash)>] OfferCreated data, response status code and response headers
    def post_offers_uuid_counter_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OffersApi.post_offers_uuid_counter ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OffersApi.post_offers_uuid_counter"
      end
      # resource path
      local_var_path = "/offers/{uuid}/counter".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OfferCreated')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#post_offers_uuid_counter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel offer
    # Cancel offer
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [OfferDetail]
    def put_offers_uuid_cancel(uuid, opts = {})
      data, _status_code, _headers = put_offers_uuid_cancel_with_http_info(uuid, opts)
      return data
    end

    # Cancel offer
    # Cancel offer
    # @param uuid 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OfferDetail, Fixnum, Hash)>] OfferDetail data, response status code and response headers
    def put_offers_uuid_cancel_with_http_info(uuid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: OffersApi.put_offers_uuid_cancel ..."
      end
      # verify the required parameter 'uuid' is set
      if @api_client.config.client_side_validation && uuid.nil?
        fail ArgumentError, "Missing the required parameter 'uuid' when calling OffersApi.put_offers_uuid_cancel"
      end
      # resource path
      local_var_path = "/offers/{uuid}/cancel".sub('{' + 'uuid' + '}', uuid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['base']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'OfferDetail')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OffersApi#put_offers_uuid_cancel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
